
nav {
    background-color: rgb(53, 53, 53);
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

a.Sobre:hover {
    text-decoration: line-through;
}

a:hover {
    letter-spacing: 4px;
    text-decoration: underline;
}


footer {
    flex-shrink: 0;
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: center;
}